.side-bar{
  position: fixed;
  background-color: white;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  align-items: center;
  z-index: 200;
  padding-top: 5px;
  
}
.sidebar-link{
  background-color: white;
  height: 74px;
  transition: background-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}
.side-bar img{
  height: 26px;
  margin-bottom: 4px;

}
.side-bar div{
 
  font-size: 10px;

}